html {
    font-size: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $bodyFont;
    font-weight: 300;
    font-size: 1.7rem;
}

// A large wrapper to contain the content of the page on a large display.
.largeWrapper, .wrapper, p {
    margin: 0 auto;
}

.largeWrapper {
    max-width: 1800px;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
}

header,
fieldset {
    text-align: center;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    padding: 7px 20px;
    transition: 0.3s;
}







