header {
    height: 100vh;
    justify-content: center;
    background-color: white;
    // The styling for the start link in the header. 
    a {
        background-color: black;
        color: white;
        border: 1px solid transparent;
        font-size: 22px;
        // The styling for the hover and focus states for this link. 
        &:hover,
        &:focus {
            background-color: red;
            color: white;
        }
    }
}

h1 {
    font-weight: bold;
    font-size: 100px;
    width: 60%;
    margin: 0 auto;
}

p {
    font-size: 30px;
    margin: 0 auto;
    padding-bottom: 30px;
}