header {
    height: 100vh;
    background-image: url(../assets/mylon-ollila-j4ocWYAP_cs-unsplash.jpg);
    background-size: cover;
    color: $darkColor;
    background-position-y: -131px;
    background-repeat: no-repeat;
    padding: 0px 20px;
    h1 {
        font-family: $headerFont;
        font-weight: 400;
        font-size: 5rem;
        text-transform: uppercase;
        width: 70%;
        margin: 50px auto 20px;
        letter-spacing: 1.3px;
    }
    // The styling for the start link in the header. 
    a {
        background-color: $accentColorDark;
        color: $lightColor;
        font-size: 2rem;
        // The styling for the hover and focus states for this link. 
        &:hover,
        &:focus {
            background-color: #35492d;
            color: $lightColor;
        }
    }
    p{
        margin: 0 auto;
        font-weight: 400;
    }
}



.byline > p:nth-child(2) {
    padding-bottom: 45px;
}

