header {
    height: 100vh;
    justify-content: center;
    background-color: white;
    color: black;
    // The styling for the start link in the header. 
    a {
        background-color: black;
        color: white;
        border: 1px solid transparent;
        font-size: 2.2rem;
        // The styling for the hover and focus states for this link. 
        &:hover,
        &:focus {
            background-color: red;
            color: white;
        }
    }
}

h1 {
    font-family: $bodyFont;
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;

    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
}

p {
    margin: 0 auto;
}

header p:nth-child(3) {
    padding-bottom: 30px;
}

