.maps,
.mapsOne,
.girlPicture, 
.boyPicture {
    visibility: hidden;
    height: 5vh;
    img {
        width: 200px;
    }
}

.defaultGender,
.defaultMap {
    height: 5vh;
}

.defaultMap img {
    width: 430px;
    transform: translateY(-115px);
}

.defaultGender img {
    width: 165px;
    transform: translateY(-95px);
}

.visible {
    visibility: visible;
}

.dissapear {
    transform: translateY(-128px)
}

.dissapearOne {
    transform: translateY(-170px)
}

.dissapearTwo {
    transform: translateY(-98px)
}

.dissapearThree {
    transform: translateY(-135px)
}