.maps,
.mapsOne {
    visibility: hidden;
    height: 10vh;
    img {
        width: 200px;
    }
}

.mapVisible {
    visibility: visible;
}

.dissapear {
    transform: translateY(-50px)
}

.dissapearOne {
    transform: translateY(-113px)
}
