.maps,
.mapsOne,
.girlPicture, 
.boyPicture {
    visibility: hidden;
    height: 5vh;
    img {
        width: 200px;
    }
}

.visible {
    visibility: visible;
}

.dissapear {
    transform: translateY(-128px)
}

.dissapearOne {
    transform: translateY(-170px)
}

// .dissapearTwo {

// }

// .dissapearThree {

// }