// Media Queries

@media(max-width: 1400px) {
    header {
        background-position: center;
    }
}

@media(max-width: 1170px) {
    header {
        h1{
            width: 90%;
            font-size: 4rem;
            margin-top: 54px;
        }
        .byline {
            font-size: 1.5rem;
        }
    }
}

@media(max-width: 900px) {
    .elephant {
        width: 47%;
    }
}

@media(max-width: 737px) {
    header{
        h1 {
            width: 100%;
            margin-bottom: 17px;
        }
        .byline {
            p:nth-child(2) {
                padding-bottom: 27px;
            }
        }
    }
    .elephant {
        width: 75%;
    }
}

@media(max-width: 667px) {
    header {
        h1{
            font-size: 3.5rem;
        }
        .byline{
            font-size: 1.3rem;
        }
    }

    .defaultGender img {
        transform: translateY(-132px);
    }
}

@media(max-width: 587px) {
    .elephant {
        width: 100%;
    }
}

@media(max-width: 550px){
    header {
        background-position: left;
        background-position-x: -385px;
    }
}

@media(max-width: 525px) {
    header{
        h1{
            margin-top: 35px;
        }
    }
}

@media(max-width: 490px) {
    .questionButtons {
        label {
            margin: 20px;
            font-size: 1.6rem;
        }
    }
}

@media(max-width: 435px) {
    .defaultMap img{
        width: 307px;
        transform: translateY(-134px);
    }

    .defaultGender img {
        width: 134px;
        transform: translateY(-112px);
    }

    .dissapearTwo {
        transform: translateY(-121px);
    }

    .dissapearThree {
        transform: translateY(-120px);
    }
}

@media(max-width: 419px) {
    header {
        background-position-x: -293px;
    }
}

@media(max-width: 405px) {
    header{
        h1{
            font-size: 3.2rem;
        } 
    }
}

@media(max-width: 390px) {
    .dissapearTwo {
        transform: translateY(-92px);
    }

    .dissapearThree {
        transform: translateY(-92px);
    }
    
    .defaultGender img {
        transform: translateY(-94px);
    }
}

@media(max-width: 380px) {
    header {
        padding: 0px;
        h1{
            font-size: 3rem;
            margin-bottom: 14px;
        }
        .byline {
            padding-left: 10px;
            padding-right: 10px;
        
            p:nth-child(2){
                padding-bottom: 26px;
            }
        }
    }
    
    .questionButtons {
        label {
            margin: 6px;
            font-size: 1.6rem;
            padding: 7px 20px;
        }
    }
}

@media(max-width: 375px) {
    .defaultMap img {
        transform: translateY(-116px);
    }

    .dissapear {
        transform: translateY(-114px);
    }

    .mapsOne img {
        width: 160px;
    }

    .maps img {
        width: 178px;
    }

    .dissapearOne {
        transform: translateY(-115px)
    }
}



@media(max-width: 355px) {
    
}


