// Media Queries

@media(max-width: 1400px) {
    header {
        background-position: center;
    }
}

@media(max-width: 1170px) {
    header {
        h1{
            width: 70%;
            font-size: 4rem;
        }
        .byline {
            font-size: 1.5rem;
        }
    }
}

@media(max-width: 1000px) {
    .hoverFact {
        font-size: 1rem;
    }
}

@media(max-width: 900px) {
    .elephant {
        width: 47%;
    }

    .elephant:nth-of-type(3n) {
        margin-right: 20px;
    }

    .elephant:nth-of-type(2n) {
        margin-right: 0;
    }
}

@media(max-width: 587px) {
    .dissapearTwo {
        transform: translateY(-80px);
    }
    
    .dissapearThree {
        transform: translateY(-112px);
    }
}

@media(max-width: 560px) {
    header{
        h1{
            width: 90%;
            font-size: 3.5rem;
        }
        .byline {
            font-size: 1.3rem;
            p:nth-child(2){
                padding-bottom: 35px;
            }
        }    
    }

    .elephant {
        width: 100%;
    }
}

@media(max-width: 537px){
    .dissapear {
        transform: translateY(-107px);
    }
    .dissapearOne{
        transform: translateY(-152px);
    }
}

@media(max-width: 354px) {
    .dissapearOne {
        transform: translateY(-143px);
    }
}

@media(max-width: 490px) {
    .questionButtons {
        label {
            margin: 20px;
            font-size: 1.6rem;
        }
    }
}

@media(max-width: 405px) {
    header{
        h1{
            width: 100%;
            font-size: 3.2rem;
        } 
    }
}

@media(max-width: 380px) {
    .questionButtons {
    margin: 20px 0;
    padding: 0px;
    // The styling for the labels. 
        label {
            margin: 6px;
            font-size: 1.6rem;
            padding: 7px 20px;
        }
    }
}

