// Media Queries
@media(max-width: 1155px ){
    header{
        h1{
            width: 70%;
        }
    }
}

@media(max-width: 1400px) {
    header {
        background-position: center;
    }
}

@media(max-width: 990px) {
    header{
        h1{
            width: 70%;
        }
    }
}

@media(max-width: 900px) {
    .elephant {
        width: 47%;
    }
}

@media(max-width: 715px) {
    header{
        h1{
            font-size: 4rem;
        }
        .byline {
            font-size: 1.5rem;
        }
    }
}

@media(max-width: 560px) {
    header{
        h1{
            width: 90%;
            font-size: 3.5rem;
        }
        .byline {
            font-size: 1.3rem;
            p:nth-child(2){
                padding-bottom: 35px;
            }
        }    
    }
}

@media(max-width: 490px) {
    .questionButtons {
        label {
            margin: 20px;
            font-size: 1.6rem;
        }
    }
}

@media(max-width: 450px) {
    .elephant {
        width: 100%;
    }
}

@media(max-width: 405px) {
    header{
        h1{
            width: 100%;
            font-size: 3.2rem;
        } 
    }
}

@media(max-width: 380px) {
    .questionButtons {
    margin: 20px 0;
    padding: 0px;
    // The styling for the labels. 
        label {
            margin: 6px;
            font-size: 1.6rem;
            padding: 7px 20px;
        }
    }
}
