// Organizing question styles

section.firstQuestion,
section.secondQuestion {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $backgroundOne;
    a {
        background: $accentColorLight;
        color: $lightColor;
        &:hover {
            background: $lightHoverColor;
        }
    }
    h2 {
        font-size: 30px;
        font-weight: 400;
        color: $lightColor;
        width: 70%;
    }
}

fieldset {
    padding-bottom: 37px;
}

.questionButtons {
    margin: 20px 0;
    padding: 0px;
    // The styling for the labels. 
    label {
        letter-spacing: 1px;
        margin: 25px;
        background-color: transparent;
        border: 1px solid $lightColor;
        color: $lightColor;
        font-size: 1.8rem;
        transition: 0.3s;
        padding: 7px 20px;
        border-radius: 20px;
        // The styling for the labels on hover.
        &:hover {
            background-color: #222e50; 
            color: $lightColor;
        }   
    }
    input[type="radio"] {
        opacity: 0.01;
        position: absolute;
        left: -1000px;
        // The styling for the labels of the radio buttons on focus and on checked. 
        &:focus+label,
        &:checked+label {
            background-color: #222e50;
            color: $lightColor;
        }
    }
}

section.secondQuestion {
    background-color: #306E3D;
    label {
        &:hover, &:focus {
            background-color: $darkHoverColor;
        }
    }
    input[type="radio"] {
        opacity: 0.01;
        position: absolute;
        left: -1000px;
        // The styling for the labels of the radio buttons on focus and on checked. 
        &:focus+label, &:checked+label {
            background-color: $darkHoverColor;
            color: $lightColor;
        }
    }
}