// Styling for API results
.resultsBackground {
    background-color: $tertiaryColor;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    img {
        object-fit: cover;
        width: 100%;
        height: 300px;
        border-radius: 20px;
    }
    h2 {
        font-family: $headerFont;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        font-size: 2.3rem;
        font-weight: 500;
        color: $darkColor;
    }
    a {
        font-size: 1.5rem;
        font-weight: 300;
        color: $lightColor;
        background-color: $darkColor;
        &:hover, &:focus, &:active {
            background-color: #272a2b;
        }
    }
    p {
        font-size: 1.45rem;
        font-weight: 400;
        margin-bottom: 20px;
        color: $darkColor;
    }
}

.elephant {
    width: 30%;
    margin-right: 20px;
    margin-bottom: 25px;
    padding: 20px;
    background-color: $lightColor;
    border-radius: 20px;
    transition: 0.2s;

    &:hover, &:focus, &:active {
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
        transform: scale(1.02);
        background-color: rgba(247, 164, 182, 0.7);
    }
}

.elephant:nth-of-type(3n),
.elephant:last-of-type {
    margin-right: 0;
}
