// Styling for API results
.resultsBackground {
    background-color: #8bb174;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-top: 50px;
    img {
        object-fit: cover;
        width: 100%;
        height: 300px;
        border-radius: 20px;
    }
    h2 {
        color: $darkColor;
    }
    a {
        font-size: 1.5rem;
        color: $lightColor;
        background-color: $darkColor;
        &:hover {
            background-color: #272a2b;
        }
    }
    p {
        margin-bottom: 20px;
        color: $darkColor;
    }
}

.elephant {
    width: 30%;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 20px;

    &:hover, &:focus, &:active {
        animation: fadeIn ease 1.5s;
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
        background-color: $backgroundThree;
    }
    @keyframes fadeIn {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
}