.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit, 
.reset {
    font-size: 1.7rem;
    text-decoration: none;
    border: none;
    color: white;
    padding: 7px 20px;
    transition: 0.3s;
    background-color: $accentColorLight;
    font-family: $bodyFont;
    font-weight: 300;
    &:hover,
    &:focus {
        background-color: #8c6156;
        cursor: pointer;
    }
}

.submit {
    margin-bottom: 10px;
}

.reset {
    margin-top: 70px;
    margin-bottom: 30px;
}

