.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit, 
.reset {
    text-decoration: none;
    border: none;
    color: white;
    padding: 15px 20px;
    transition: 0.3s;
    background-color: black;
    font-family: $bodyFont;
    font-weight: 300;
    &:hover,
    &:focus {
        background-color: red;
    }
}

.submit {
    margin-bottom: 10px;
}

.reset {
    margin-bottom: 30px;
}

