// Fonts and colors

$bodyFont: 'Josefin Sans', sans-serif;
$headerFont: 'Montserrat', sans-serif;


$darkColor: #393e41;
$lightColor: #d8e2dc;
$accentColorDark: #306E3D;
$accentColorLight: #af7a6d;
$backgroundOne: #5F7AA5;
$backgroundThree: #F7A4B6;
$tertiaryColor: #8bb174;


