// Fonts and colors

$bodyFont: 'Josefin Sans', sans-serif;
$headerFont: 'Josefin Sans', sans-serif;
$darkColor: #393e41;
$lightColor: #d8e2dc;
$accentColorCool: #61988e;
$accentColorWarm: #a8763e;
$tertiaryColor: #818479;