@import 'variables';
@import 'setup';
@import 'global';
@import 'headerStyles';
@import 'questionStyles';
@import 'submitResetStyles';
@import 'appendStyles';
@import 'resultStyles';
@import 'mediaQueries';