html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header,
fieldset {
  text-align: center;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  padding: 7px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header {
  height: 100vh;
  background-image: url(../assets/mylon-ollila-j4ocWYAP_cs-unsplash.jpg);
  background-size: cover;
  color: #393e41;
  background-position-y: -131px;
  background-repeat: no-repeat;
}

header a {
  background-color: #306E3D;
  color: #d8e2dc;
  font-size: 2rem;
}

header a:hover, header a:focus {
  background-color: #35492d;
  color: #d8e2dc;
}

header p {
  margin: 0 auto;
  font-weight: 400;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 5rem;
  text-transform: uppercase;
  margin-top: 40px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 50px;
  letter-spacing: 1.3px;
}

.byline > p:nth-child(2) {
  padding-bottom: 45px;
}

section.firstQuestion,
section.secondQuestion {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5F7AA5;
}

section.firstQuestion a,
section.secondQuestion a {
  background: #af7a6d;
  color: #d8e2dc;
}

section.firstQuestion a:hover,
section.secondQuestion a:hover {
  background: #8c6156;
}

section.firstQuestion h2,
section.secondQuestion h2 {
  font-size: 30px;
  font-weight: 400;
  color: #d8e2dc;
  width: 70%;
}

fieldset {
  padding-bottom: 37px;
}

.questionButtons {
  margin: 20px 0;
  padding: 0px;
}

.questionButtons label {
  letter-spacing: 1px;
  margin: 40px;
  background-color: transparent;
  border: 1px solid #d8e2dc;
  color: #d8e2dc;
  font-size: 1.8rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 7px 20px;
  border-radius: 20px;
}

.questionButtons label:hover {
  background-color: #222e50;
  color: #d8e2dc;
}

.questionButtons input[type="radio"] {
  opacity: 0.01;
  position: absolute;
  left: -1000px;
}

.questionButtons input[type="radio"]:focus + label,
.questionButtons input[type="radio"]:checked + label {
  background-color: #222e50;
  color: #d8e2dc;
}

section.secondQuestion {
  background-color: #306E3D;
}

section.secondQuestion label:hover, section.secondQuestion label:focus {
  background-color: #16371d;
}

section.secondQuestion input[type="radio"] {
  opacity: 0.01;
  position: absolute;
  left: -1000px;
}

section.secondQuestion input[type="radio"]:focus + label,
section.secondQuestion input[type="radio"]:checked + label {
  background-color: #16371d;
  color: #d8e2dc;
}

.maps,
.mapsOne,
.girlPicture,
.boyPicture {
  visibility: hidden;
  height: 5vh;
}

.maps img,
.mapsOne img,
.girlPicture img,
.boyPicture img {
  width: 200px;
}

.visible {
  visibility: visible;
}

.dissapear {
  -webkit-transform: translateY(-128px);
          transform: translateY(-128px);
}

.dissapearOne {
  -webkit-transform: translateY(-170px);
          transform: translateY(-170px);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submit,
.reset {
  font-size: 1.7rem;
  text-decoration: none;
  border: none;
  color: #d8e2dc;
  padding: 7px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #af7a6d;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.submit:hover, .submit:focus,
.reset:hover,
.reset:focus {
  background-color: #8c6156;
  cursor: pointer;
}

.submit {
  margin-bottom: 10px;
}

.reset {
  margin-top: 70px;
  margin-bottom: 30px;
}

.resultsBackground {
  background-color: #8bb174;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-top: 50px;
}

.results img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 20px;
}

.results h2 {
  font-size: 30px;
  color: #393e41;
}

.results a {
  font-size: 1.5rem;
  color: #d8e2dc;
  background-color: #393e41;
}

.results a:hover {
  background-color: #272a2b;
}

.results p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #393e41;
}

.elephant {
  width: 30%;
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 20px;
}

.elephant:hover, .elephant:focus, .elephant:active {
  -webkit-animation: fadeIn ease 1.5s;
          animation: fadeIn ease 1.5s;
  -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #F7A4B6;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hoverFact {
  display: none;
  background-color: rgba(216, 226, 220, 0.7);
  position: absolute;
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  font-size: 1.5rem;
  -webkit-animation: fadeIn ease 1s;
          animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

@media (max-width: 1400px) {
  header {
    background-position: center;
  }
}

@media (max-width: 900px) {
  .elephant {
    width: 47%;
  }
}

@media (max-width: 450px) {
  .elephant {
    width: 100%;
  }
}
